# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the docs folder. 
/docs/     @diana-macrometa @jamesm-macrometa @astrotars

# This owner is the default owner of everything in this repository.
*   @diana-macrometa
