.grid {
  display: grid;
  column-gap: 1.5rem;
  margin: 0 0 2rem;
  row-gap: 1.5rem;
}

.col2 {
  grid-template-columns: repeat(2, minmax(0px, 1fr));
}

.col3 {
  grid-template-columns: repeat(3, minmax(0px, 1fr));
}

.col4 {
  grid-template-columns: repeat(4, minmax(0px, 1fr));
}

@media screen and (max-width: 966px) {
  .col2,
  .col3,
  .col4 {
    grid-template-columns: minmax(0px, 1fr);
    row-gap: 1rem;
  }
}
