:root {
  --docs-card-background-color: var(--color-white);
  --docs-card-border-color: var(--color-neutral-100);
  --docs-card-description-color: var(--color-neutral-500);
  --docs-card-title-color: var(--color-neutral-700);

  --docs-card-background-color-focus: var(--color-primary-50);
  --docs-card-border-color-hover: var(--color-primary-200);
}

html[data-theme='dark'] {
  --docs-card-background-color: rgba(25, 27, 31, 0.8);
  --docs-card-border-color: var(--color-neutral-700);
  --docs-card-description-color: var(--color-primary-300);
  --docs-card-title-color: var(--color-white);

  --docs-card-background-color-focus: rgba(25, 27, 31, 1);
  --docs-card-border-color-hover: var(--color-primary-500);
}

.cardWrapper {
  background-color: var(--docs-card-background-color);
  border: 1px solid var(--docs-card-border-color);
  border-radius: 0.5rem;
  display: block;
  padding: 1.25rem;
  transition: all ease-in-out 0.135s;
}

.cardWrapper:focus,
.cardWrapper:hover {
  background-color: var(--docs-card-background-color-focus);
  text-decoration: none;
}

.cardWrapper:hover {
  border-color: var(--docs-card-border-color-hover);
}

.cardTitle {
  color: var(--docs-card-title-color);
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin: 0 0 0.25rem;
}

.cardDescription {
  color: var(--docs-card-description-color);
  font-size: 0.9375rem;
  line-height: 1.25rem;
}
