:root {
  --banner-background-color: var(--color-primary-100);
}

html[data-theme='dark'] {
  --banner-background-color: var(--color-neutral-900);
}

.heroBanner {
  background-color: var(--banner-background-color);
  margin: 0 0 2rem;
  padding: 6rem 0;
  position: relative;
  text-align: center;
}

.heroBanner > h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin: 0 auto 0.75rem;
}

.heroBanner > h3 {
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 auto;
  max-width: 30rem;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 3rem;
  }
}
