@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  /* CSS Reset */

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
  }

  /**
    Define default colors below and colors for dark mode below it.
  */

  :root {
    /* Macrometa Color Ramps */

    --color-white: #FFFFFF;

    --color-neutral-50: #F1F2F4;
    --color-neutral-100: #E2E4E8;
    --color-neutral-200: #C5C8D1;
    --color-neutral-300: #A9ADB9;
    --color-neutral-400: #8C91A2;
    --color-neutral-500: #6F768B;
    --color-neutral-600: #535968;
    --color-neutral-700: #383B46;
    --color-neutral-800: #1C1E23;
    --color-neutral-900: #0B0C0E;

    --color-primary-50: #F0F0FD;
    --color-primary-100: #E1E1FA;
    --color-primary-200: #C2C2F5;
    --color-primary-300: #A4A4F0;
    --color-primary-400: #8585EB;
    --color-primary-500: #6767E6;
    --color-primary-600: #4D4DAD;
    --color-primary-700: #343473;
    --color-primary-800: #1A1A3A;
    --color-primary-900: #0A0A17;

    /* Docusaurus Theming */

    --ifm-color-primary: var(--color-primary-500);
    --ifm-color-primary-dark: var(--color-primary-600);
    --ifm-color-primary-darker: var(--color-primary-700);
    --ifm-color-primary-darkest: var(--color-primary-800);
    --ifm-color-primary-light: var(--color-primary-400);
    --ifm-color-primary-lighter: var(--color-primary-300);
    --ifm-color-primary-lightest: var(--color-primary-200);

    --ifm-code-border-radius: 0.25rem;
    --ifm-code-font-size: 0.9375rem;
    --ifm-pre-background-color: var(--color-neutral-50);

    --ifm-link-color: var(--color-primary-500);
    --ifm-link-decoration: none;

    --ifm-font-family-monospace: 'Source Code Pro', ui-monospace, SFMono-Regular,
      Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-code: var(--ifm-font-family-monospace) !important;
    --font-mono: var(--ifm-font-family-monospace) !important;
    --font-ui: 'Open Sans', ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
      'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol', 'Noto Color Emoji';
    --font-prose: var(--font-ui);

    --ifm-font-color-base: var(--color-neutral-700);

    --ifm-heading-color: var(--color-neutral-800);
    --ifm-heading-font-family: 'Lato', sans-serif;

    --ifm-background-color: var(--color-white);

    --ifm-menu-color-background-hover: var(--color-primary-100);
    --ifm-menu-color-background-active: var(--color-primary-400);
    --ifm-navbar-item-padding-horizontal: 0.5rem;
    --ifm-toc-border-color: var(--docs-color-border);
    --doc-sidebar-width: 280px !important;

    --ifm-footer-background-color: var(--color-primary-500);
    --ifm-footer-color: var(--color-primary-100);
    --ifm-footer-link-color: var(--color-primary-50);
    --ifm-footer-link-hover-color: var(--color-white);
    --ifm-footer-title-color: var(--color-white);

    /* Tailwind Theming */

    --docs-color-primary: var(--color-primary-500);
    --docs-color-primary-100: var(--color-primary-300);

    --docs-color-text: var(--color-neutral-700);
    --docs-color-text-100: var(--color-neutral-500);

    --docs-color-border: var(--color-neutral-200);

    --docs-color-background: var(--color-white);
    --docs-color-background-100: var(--color-neutral-50);
    --docs-color-background-200: var(--color-neutral-100);
    --docs-color-background-300: var(--color-neutral-200);

    /* Elements Theming */

    --color-canvas-100: var(--docs-color-background-100);
    --color-canvas-200: var(--docs-color-background-200);
    --color-canvas-300: var(--docs-color-background-300);

    --docsearch-key-shadow: none !important;
    --docsearch-key-gradient: var(--docs-color-background-300) !important;
    --docsearch-highlight-color: var(--ifm-color-primary-lightest);

    --doc-mobile-toc-background: var(--color-primary-50);
    --image-background-color: var(--color-white);
  }

  html[data-theme='dark'] {
    --ifm-link-color: var(--color-primary-300);
    --ifm-tabs-color-active-border: var(--color-primary-400);
    --ifm-tabs-color-active: var(--color-primary-400);
    --ifm-color-primary: var(--color-primary-400);
    --ifm-menu-color: var(--color-neutral-100) !important;
    --ifm-toc-link-color: var(--color-neutral-200) !important;
    --ifm-pre-background-color: var(--color-neutral-700);

    --docs-color-primary-100: var(--color-primary-400);

    --docs-color-text: var(--color-white);
    --docs-color-text-100: var(--color-neutral-300);

    --docs-color-border: var(--color-neutral-600);

    --docs-color-background: var(--color-neutral-800);
    --docs-color-background-100: var(--color-neutral-800);
    --docs-color-background-200: var(--color-neutral-700);
    --docs-color-background-300: var(--color-neutral-600);

    --ifm-background-color: var(--docs-color-background);
    --ifm-menu-color-background-hover: var(--color-primary-700);
    --ifm-menu-color-background-active: var(--color-primary-600);
    
    --ifm-heading-color: var(--color-neutral-100);
    --ifm-font-color-base: var(--color-neutral-50);

    --color-canvas-100: var(--docs-color-background-100);
    --color-canvas-200: var(--docs-color-background-200);
    --color-canvas-300: var(--docs-color-background-300);

    --docsearch-key-gradient: var(--color-neutral-600) !important;
    --docsearch-searchbox-background: var(--color-neutral-700) !important;

    --ifm-footer-background-color: var(--color-neutral-900);
    --ifm-footer-color: var(--color-neutral-500);
    --ifm-footer-link-color: var(--color-neutral-200);
    --ifm-footer-link-hover-color: var(--color-neutral-100);

    --doc-mobile-toc-background: var(--color-primary-700);

    --image-background-color: var(--color-neutral-700);
  }
}

/* Docusaurus styles */
.docusaurus-highlight-code-line {
  background-color: var(--color-neutral-800);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Sidebar nav header  */

.menu {
  @apply overflow-y-auto !p-0;
}

.menu > .menu__list {
  padding: 0 0.5rem;
}

.menu > .menu__list > .menu__list-item:first-child {
  margin-top: 1rem;
}

.menu > .menu__list > .menu__list-item {
  @apply text-sm font-normal;
}

.menu__list-item:not(:first-child) {
  @apply mt-0;
}

div[class^='sidebar_'] .menu__link.menu__link--active:not(.menu__link--sublist) {
  border-radius: 0.25rem;
  color: var(--color-white);
  background: var(--ifm-menu-color-background-active);
  font-weight: 500;
}

.menu__link--active:not(.menu__link--sublist) {
  color: var(--color-white);
}

.menu__link--sublist::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

.menu__link {
  @apply leading-6;
}

.menu__caret {
  margin: 0;
}

.menu__caret:before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.25rem 1.25rem;
}

/* Optional style for only one link which acts as nav section header */

.navbar__toggle {
  @apply mr-3;
}

.navbar__item {
  @apply font-normal text-base;
}

.navbar__item svg {
  display: none;
}

.navbar__logo {
  height: 1.75rem;
  padding-bottom: 4px;
}

.navbar {
  background-color: var(--docs-color-background);
  border-bottom: 1px solid var(--docs-color-border);
}

.navbar-sidebar__back {
  margin-top: 8px;
  @apply text-text;
}

.navbar-sidebar {
  z-index: 15;
}

hr {
  @apply border border-border;
}

pre {
  --ifm-pre-background: var(--ifm-pre-background-color) !important;
  --ifm-pre-padding: 1rem;
}

/* DocSearch */
.DocSearch.DocSearch-Button {
  @apply rounded-full md:rounded-[4px];
}

.DocSearch-Button-Key {
  box-shadow: none !important;
  --docsearch-muted-color: rgba(0, 0, 0, 0.87) !important;
}

.DocSearch-Hit-title {
  @apply text-sm font-normal;
}

html[data-theme='dark'] .DocSearch-Button-Key {
  --docsearch-muted-color: rgba(255, 255, 255, 0.87) !important;
}

/* Styles for @stoplight/elements */

.sl-elements {
  --fs-paragraph: 18px !important;
  --fs-code: 13px !important;
  /* Reset padding for pre tags inside sl-elements */
  --ifm-pre-padding: 0;
  @apply !text-base;
}

/* Hides the `Production server` text in TryItPanel */
.TryItPanel > .sl-panel__titlebar > div:last-child {
  @apply hidden;
}

.sl-elements .OperationParametersContent {
  max-height: max-content;
}

.sl-code-viewer__scroller {
  max-height: initial !important;
}

/* Spacing between params */
.sl-self-stretch.sl-border-light.sl-border-t {
  @apply my-2;
}

.HttpOperation .sl-flex .sl-w-2\/5 {
  @apply ml-8 border-l border-border pl-8;
}

/* Fixes API reference white border */
.sl-elements div {
  @apply border-border;
}

.sl-elements-api > .sl-px-24 {
  @apply pl-8 pr-4;
  background-color: var(--docs-color-background);
}

.sl-text-base {
  @apply !text-sm;
}

.sl-elements a {
  color: inherit !important;
}

.sl-elements div[aria-label='Responses'] {
  span {
    @apply mr-auto;
  }

  div[data-key] {
    @apply mr-2 flex items-center rounded-md border outline-none ring-0;
  }

  div[data-key]::before {
    content: '';
    @apply mr-2 inline-block h-3 w-3 rounded-full bg-green-500 drop-shadow-sm;
  }

  div[data-key^='4']::before {
    @apply bg-red-500;
  }

  div[data-key^='5']::before {
    @apply bg-yellow-500;
  }

  div[aria-selected='true'] {
    @apply border-primary-100 shadow-sm;
  }
}

.sl-overflow-x-hidden.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas {
  background-color: var(--docs-color-background);
}

.HttpOperation__Parameters .sl-flex-1,
.JsonSchemaViewer .sl-flex-1 {
  flex: none;
}

.sl-text-warning {
  @apply font-medium;
}

.sl-panel__titlebar .sl-h-lg {
  height: auto;
  padding: 12px 0;
}

.ElementsTableOfContentsItem > div {
  border-radius: 4px 0 0 4px;
  border-right: 2px solid transparent;
}

.ElementsTableOfContentsItem .sl-bg-primary-tint {
  border-right: 2px solid var(--ifm-color-primary);
  color: var(--ifm-color-primary);
  background: rgba(33, 96, 253, 0.16);
}

.sl-elements {
  scrollbar-width: thin;
}

.HttpOperation > .sl-flex.sl-mt-12 > .sl-flex-1 > div:not(.sl-prose) {
  @apply rounded-lg bg-background-100 p-4 pt-6;
}

.sl-absolute.sl--left-4 {
  @apply static pr-2;
}

.sl-elements-api > div:first-child {
  min-width: var(--doc-sidebar-width);
}

.sl-elements-api > div:last-child > div {
  @apply mx-auto;
}

/**
  Syntax highlighting styles for API reference only
*/

.sl-elements .token.punctuation {
  @apply !text-text-100;
}

.sl-elements .token.operator {
  @apply !text-text-100;
}

.sl-elements .token.property {
  @apply !text-[#1a90ff];
}

.sl-elements .token.string {
  @apply !text-text;
}

.sl-elements .token.function {
  @apply !text-primary-100;
}

html[data-theme='dark'] .sl-elements .token.boolean,
html[data-theme='dark'] .sl-elements .token.number {
  @apply !text-yellow-400;
}

html[data-theme='dark'] .sl-elements .token.null.keyword {
  @apply !text-red-400;
}

.sl-elements .TextRequestBody .token.string {
  @apply !text-gray-200;
}

html[data-theme='dark'] .sl-text-warning {
  @apply !text-red-500;
}

.sl-text-primary-dark {
  @apply !text-primary-100;
}

.sl-text-success {
  @apply !text-green-600;
}

.sl-text-primary {
  @apply !text-primary-100;
}

.sl-text-danger {
  @apply !text-red-500;
}

.sl-stack--horizontal > .sl-flex.sl-flex-wrap {
  @apply !flex-1;
}

/** hides the annoying popover which shows hovered fields in response */
.JsonSchemaViewer > .sl-bg-canvas-pure:first-child {
  @apply !hidden;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  border-radius: 8px;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--docs-color-border);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--docs-color-text-100);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.thin-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.thin-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  @apply px-4 lg:pl-7;
}

/* Markdown styles */

.markdown {
  --ifm-h2-vertical-rhythm-top: 2;
  --ifm-h3-vertical-rhythm-top: 2;
  --ifm-heading-vertical-rhythm-bottom: 1;
  @apply font-sans text-base leading-6 antialiased;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.5rem;
  --ifm-h1-vertical-rhythm-bottom: 1;
  margin-top: 0.5rem;
}

.markdown > h2 {
  --ifm-h2-font-size: 1.75rem;
  padding-top: 0.25rem;
}

.markdown > h3 {
  --ifm-h3-font-size: 1.5rem;
  padding-top: 0.5rem;
}

.markdown > p {
  margin-bottom: 1rem;
}

code {
  @apply px-1;
}

strong,
b {
  @apply font-extrabold;
}

article img {
  background-color: var(--image-background-color);
  border: 1px solid var(--docs-color-border);
  border-radius: 0.25rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.prism-code > code {
  font-size: 14px;
}

/* Docsearch */
.DocSearch-Logo {
  display: none;
}

.DocSearch-Commands ul {
  display: flex;
  justify-content: space-between;
}

.DocSearch-Modal {
  background: var(--docs-color-background) !important;
}

.DocSearch-Footer {
  background: var(--docs-color-background) !important;
}

.DocSearch-Commands-Key {
  background: none !important;
}

.theme-code-block {
  box-shadow: none !important;
}

.footer {
  @apply text-base;
}

.footer__bottom {
  @apply text-sm;
}

.theme-doc-toc-mobile {
  --ifm-menu-color-background-active: var(--doc-mobile-toc-background);
}

.theme-doc-toc-mobile > .clean-btn {
  padding: 0.75rem 1rem;
  @apply text-base;
}