name: Test GH Pages Deploy

on:
  pull_request:
    branches:
      - master

jobs:
  test-deploy:
    name: Test docusaurus build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
        
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: yarn

      - name: Install dependencies
        run: yarn install
      - name: Test build
        env:
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
          POSTHOG_API_URL: ${{ secrets.POSTHOG_API_URL }}
          GTAG_TRACKING_ID: ${{ secrets.GTAG_TRACKING_ID }}
        run: yarn build
